$orangeColorCode: #FF5E00;
$topBannerColor: #121214;
$topBannerOpacity: 0.87;
$profileSectionColor: #303032;
$profileSectionOpacity: 0.81;

@font-face {
  font-family: body;
  src: url(../Font/Roboto-Light.ttf);
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

p, span {
  font-family: body;
}


#optionsIcon {
  margin-right: 15px;
  margin-top: 22px;
  float: right;
}

#subHeader {
  width: 100%;
  height: 250px;
  background: url(../images/notebook-336634_1280.jpg);
  background-size: cover;
  text-align: -webkit-center;
  text-align: -moz-center;
  position: absolute;
  margin-top: 70px;

  #overlay {
    width: 100%;
    height: 250px;
    background: $profileSectionColor;
    opacity: $profileSectionOpacity;
    position: fixed;

  }

  #profileCont{
    position: fixed;
    width: 100%;
    color: white;

    #image{
      width: 80px;
      height: 80px;
      background: hsla(0, 0%, 0%, 0.57);
      border-radius: 200px;
      margin-top: 30px;
    }

    #usernameCont{
      float: left;
      margin-left: 15px;
      margin-top: 100px;
    }

    #mobileCont{
      float:right;
      margin-right: 15px;
      margin-top: 100px;
    }

    #userIcon, #callIcon{
      width: 20px;
      margin-right: 5px;
      margin-top: 5px;
    }

    #callIcon{
      margin-right: 0px;
      margin-left: 5px;
    }

  }

}

#menuIcon {
  width: 35px;
  float: left;
  margin-left: 15px;
  margin-top: 20px;
  cursor: pointer;
}

#mainLoginContentBlock {
  width: 100%;
  height: 100%;
  background: url("../images/notebook-336634_1280.jpg");
  background-size: cover;
  text-align: -webkit-center;
  text-align: -moz-center;

  #loginOverlay {
    width: 100%;
    height: 100%;
    background: $profileSectionColor;
    opacity: $profileSectionOpacity;
  }

  #usernameInput,
  #usernamePassword {
    width: 250px;
    height: 40px;
    padding-top: 10px;
    margin-top: 60%;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    outline: none;
  }

  #usernamePassword {
    margin-top: 40px;
  }

  button {
    width: 250px;
    height: 40px;
    background: $orangeColorCode;
    margin-top: 50px;
    border: 0px;
    border-radius: 100px;
    outline: none;
  }

  p {
    color: white;
    margin: 0px;
    margin-top: 20px;
  }

}

#topHeader {
  width: 100%;
  height: 70px;
  background-color: $topBannerColor;
  position: absolute;
  z-index: 1;
}