$orangeColor: #FF5E00;
$tobBarColor: #121214;
$topBarOpacity: 0.87;
$overlayColor: #303032;
$overlayOpacity: 0.81;

body{
    margin:0px;
    padding:0px;
    
}

#mainLoginCont{
    width: 100%;
    height:100%;
    background: url('images/notebook-336634_1280.jpg');
    background-size: cover;
}