$orangeColorCode: #FF5E00;
$topBannerColor: #b2b2c0;
$topBannerOpacity: 0.87;
$profileSectionColor: #303032;
$profileSectionOpacity: 0.81;


body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

#mainLoginContentBlock {
  width: 100%;
  height: 100%;
  background: url("../images/notebook-336634_1280.jpg");
  background-size: cover;
  text-align: -webkit-center;
  text-align: -moz-center;

  #loginOverlay {
    width: 100%;
    height: 100%;
    background: $profileSectionColor;
    opacity: $profileSectionOpacity;
  }

  #usernameInput,
  #usernamePassword {
    width: 250px;
    height: 40px;
    padding-top: 10px;
    margin-top: 60%;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    outline: none;
  }

  #usernamePassword{
    margin-top: 40px;
  }

  button{
    width: 250px;
    height: 40px;
    background: $orangeColorCode;
    margin-top: 50px;
    border: 0px;
    border-radius: 100px;
    outline: none;
  }

}